flask
langchain
langgraph
python-dotenv
cohere
google-generativeai
langchain-cohere
langchain-google-genai
elevenlabs
vosk
pyaudio
pygame
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
dateparser
faiss-cpu
sentence-transformers
